*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./image/cassino.webp) center center no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}